{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}Product Detail
{% endblock %}



{% block content %} 
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <img src="{{product.image.url}}" width="100%">
            </form>
        </div>
        <div class="col">
            <h1 class="display-6">{{product.name}}</h1> <br>
            <p><span class="badge-secondary">가격 :</span>{{product.price|floatformat:'0'}} 원</p>

            <form action="{% url 'basket:product_add' product.id %}" method="post">
            	{{add_to_basket}}
                {% csrf_token %}
                {% if not product.stock == 0 %}
                <input type="submit" class="btn btn-primary btn-sm" value="Add to Basket">
                {% else %}
                <b style="color: red;"> [Sold Out] </b>
                {% endif %}
            </form>

                <input type="button" class="btn" onclick="history.go(-1)" value="back">
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" >
            <h5 style="text-align:center;">
                <span class="badge-primary">상품정보</span>{{product.description|linebreaks}}    
                <!-- linebreaks :  줄바꿈 자동  -->
            </h5>
        </div>
        <div class="col-2"></div>
    </div>
    {% for reviews in review_list %}
    {% for review in reviews %}
    <div  class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table style="border:solid; text-align:center; width:100%; margin:2px">

                <tr style="border-top:solid;">
                    <td>
                        <b>유저 ID</b>
                        {{review.writer.user_id}}
                    </td>
                    <td>
                        <b>작성일</b>
                        {{review.created}}
                    </td>
                    <td>
                        <b>평점</b>
                        {{review.ratings}}
                    </td>
                </tr>
                <tr style="border-top: dotted; border-bottom: dotted; height: 50px;">
                    <td colspan="3">
                        {{review.content}}
                    </td>
                </tr>
                    {% for replies in reply_list %}
                    {% for reply in replies %}
                        {% if reply.review.id == review.id %}
                        <tr>
                            <td>
                                <b>답글 {{forloop.counter}}</b>
                            </td>
                            
                            <td colspan="2">
                                {{reply.reply}}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% endfor %}
            </table>
            
        </div>
    </div>
    <form method='post' action="{% url 'product:reply_write' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <input type="text" id="reply_write" name="reply_write" placeholder="답글을 달아주세요" style="width:100%;">
                <input type="hidden" name="reply_review" value={{review}}>
                <input type="hidden" name="get_url" value="{{request.path}}">
            </div>
            <div class="col-1">
                <input type="submit" id="reply_submit" name="reply_submit" class="btn btn-primary btn-sm">
            </div>
        </div>
    </form>

    {% endfor %}
    {% endfor %}
    <div style="text-align: center;">
        {% if startpage > pageblock %}
        <a href="{{category.get_absolute_url}}?pagenum={{startpage|sub:pageblock}}">☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)</a>
        {% endif %}
        {% for page in pages %}
        {% if pagenum == page %}
            <b>[{{page}}]</b>
        {% endif %}
        {% if pagenum != page %}
            <a href="{{category.get_absolute_url}}?pagenum={{page}}">[{{page}}]</a>
        {% endif %}
        {% endfor %}
        {% if endpage < pagecount %}
        <a href="{{category.get_absolute_url}}?pagenum={{startpage|add:pageblock}}">(☞ﾟヮﾟ)☞(☞ﾟヮﾟ)☞ 
        {% endif %}
    </div>

{% endblock %}